{% extends 'blog/base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<div class="date postdate">
    {{ post.created_date }}
</div>
<p class='postcontent'>{{ post.text|safe|linebreaksbr }}</p>
{% if user.is_authenticated %}
    <a href="{% url 'blog:post_edit' post.slug %}">
        <span class="fa fa-pencil"></span>
    </a>
    <a href="{% url 'blog:post_remove' post.slug %}">
        <span class="fa fa-remove"></span>
    </a>
{% endif %}
<hr>
<a href="{% url 'blog:add_comment_to_post' post.id %}">Add comment</a>
<div class="container">
{% for comment in post.comments.all %}
    <br>
    {% if user.is_authenticated or comment.approved_comment %}
    <a href="{% url 'blog:comment_remove' comment.id %}">
        <span class="fa fa-remove"></span>
    </a>
    {% endif %}
    <p>{{ comment.text|safe|linebreaks }}</p>
    <p>Posted by: <strong>{{ comment.author }}</strong></p>
    {% empty %}
        <p>No comments posted.</p>
{% endfor %}
</div>
{% endblock %}
